// Noto Sans TC
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap';

* {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}